.container {
    width: 800px;
    padding: 30px;
    margin-left: 50px;
    box-shadow: 5px 5px 5px #565a5b;
    border: 3px solid #2d3031;
    background-color: #2d3031;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: auto;
    gap: 50px;
}

.character {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.character__image {
    width: 300px;
}

.character__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: start;
    text-align: start;
}

.character__location {
    color: #565a5b;
}