.app-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  justify-content: center;
  text-align: center;

  .nav {
    display: flex;
    gap: 1.5625rem;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    background-color: #2d3031;

    .nav-item {
      text-decoration: none;
      font-weight: normal;
      font-size: 1.5625rem;
      text-transform: capitalize;
      color: #ffffff;

      &:active {
        text-decoration: underline;
      }

      &:hover {
        color: orange;
      }
    }
  }
}